/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

}

/* header */

.header-container {
  display: flex;
  height: 64px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #8ca3a3;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
  width: auto;
  padding-left: 24px;

}

.logo span{
  font-size: 32px;
}

.header-container nav ul {
  display: flex;
  list-style: none;
}

nav {
  padding-right: 24px;
}

ul li {
  padding-left: 16px;

}

@media only screen and (min-width: 760px )  {
  header .mobile {
    display: none;
  }
}

@media only screen and (max-width: 480px )  {

.header-container {
  height: 64px;
  }

  header .mobile {
    display: flex;
  }

  nav {
    display: none;
  }

  .logo span {
    display: none;
  }
}


/*banner  */
.banner-container {
  display: flex;
  padding: 32px 24px;
  background-color: lightgray;
}

.banner-container img {
  width: 100%;
  height: auto;
}

.banner-container .text {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.banner-container h1 {
  font-size: 4rem;
  text-align: center;
  color: #484f4f;
}

.button {
  background-color: #563f46;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  text-align: center;
  width: 50%;
  margin-top: 32px;
}

@media only screen and (max-width: 480px )  {

.banner-container{
  display: block;
}

.banner-img img {
  width: 100%;
  height: auto;
}

}

/*about*/
.about-container {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;

}

.first {
  width: 60%;
  padding-right: 12px;
  text-align: center;
  color: #484f4f;
}

.first img {
  width: 100%;
  height: auto;
}

.first h1 {
  margin-top: 32px;
  margin-bottom: 24px;
  font-size: 3rem;
}


.first h3 {
  text-align: left;
  padding-left: 12px;
}

.second {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: #484f4f;
}

.orientation {
  display: flex;
  height: 33%;
  width: auto;
  color: white;
  border-bottom: 2px solid white;
}

.orientation .img img {
  width: 100%;
  height: auto;
}

.our-campus {
  display: flex;
  height: 34%;
  width: auto;
  color: white;
  border-bottom: 2px solid white;
}

.our-campus .img img {
  width: 100%;
  height: auto;
}

.guest {
  display: flex;
  background-color: lightgray;
  color: #484f4f;
  height: 33%;
  width: auto;
}

.guest .img img {
  width: 100%;
  height: auto;
}

.second .txt {
  text-align: left;
  padding: 30px;
}

@media only screen and (max-width: 480px )  {

.first {
  display: none;
}

.second {
  width: 100%;
}
}

/* courses */
.course-container {
padding-top: 32px;
padding-bottom: 32px;
background-color: lightgray;
width: 100%;
}

.course-container .title {
  color: #484f4f;
}

.title {
text-align: center;
font-size: 2rem;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.course {
  width: 30%;
  margin: 16px;
  background-color: #8ca3a3;
  padding: 12px;

}

.course img {
  width: 100%
}

.course h1 {
  padding-top: 16px;
  text-align: center;
  font-size: 2rem;
}

.course h2 {
  padding-top: 8px;
  font-size: 1rem;
}
.course h1,h2 {
  padding-left: 16px;
  color: white;
}

@media only screen and (max-width: 480px )  {

.courses {
  display: block;
}

.courses h2 {
  display: none;
}

.courses img {
  display: none;
}

.course {
  width: 85%;
}
}


/*thesis*/
.title {
  color: #484f4f;
}

.thesis-container {
  display: flex;
  margin-left: 24px;

}
.left-column {
  width: 60%;
  color: #484f4f;
}


.left-column video {
  max-width: 95%;
}


.left-column p {
  max-width: 95%;
}

.right-column {
  display: flex;
  width: 50%;
  flex-direction: column;

}

.fisma {
  display: flex;
  padding: 16px;
  background-color: lightgray;
  align-items: center;
  color: #484f4f;
  border-bottom: 2px solid white;
}

.right-column img {
  margin: 16px;
}

.fisma-txt {
  padding-left: 16px;

}

.newyork {
  display: flex;
  padding: 16px;
  align-items: center;
  background-color: #563f46;
  color: white;

}

.newyork-txt {
  padding-left: 16px;

}

@media only screen and (max-width: 480px )  {

.right-column {
  display: none;
}

.left-column {
  width: 100%;
}

.left-column video {
  max-width: 100%;
}

.left-column h1,p {
  display: none;

}

}

/* footer */
.footer-container {
  display: flex;
  margin: 16px 24px;
  justify-content: space-between;
  background-color: #8ca3a3;
  height: 30px;
}

.terms span {
padding-left: 15px;
}

@media only screen and (max-width: 480px )  {
.terms {
  display: none;
}

.footer-container {
  width: 100%;
}
}
