/* Universal Styles */

/* header */
header {

}

.header-container {
  display: flex;
  height: 64px;
  width: 100%;
  align-items: center;
  justify-content: space-between;

}

.logo img {
  height: 32px;
  width: 32px;
}

.logo span{
  font-size: 32px;
}

.header-container nav ul {
  display: flex;
  list-style: none;
}

nav {
  padding-right: 24px;
}

ul li {
  padding-left: 16px;

}

@media only screen and (min-width: 760px )  {
  header .mobile {
    display: none;
  }
}


/*banner  */
.banner-container {
  display: flex;
  padding: 32px 24px;
  background-color: lightgray;
}

.banner-container .text {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.button {
  background-color: dimgray;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  text-align: center;

}

/*about*/
.about-container {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 24px;
  width: 100%;

}

.first {
  flex: 1;
  padding-right: 24px;
  text-align: center;
}

.first h1 {
  margin-top: 32px;
  margin-bottom: 24px;
}

.first h3 {
  text-align: left;
}

.second {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.orientation {
  display: flex;
  height: 33%;
}

.our-campus {
  display: flex;
  height: 33%;
}

.guest {
  display: flex;
  background-color: lightgray;
}

.guest img {
  height: auto;

}

/* courses */
.course-container {
padding-top: 32px;
padding-bottom: 32px;
background-color: lightgray;
padding-left: 72px;
width: 100%;
}

.title {
text-align: center;
}

.courses {
  display: flex;
  flex-wrap: wrap;
}

.course {
  width: 30%;
  background-color: white;
  margin: 16px;

}

.course img {
  width: 100%
}

.course h1 {
  padding-top: 16px;
}

.course h2 {
  padding-top: 8px;
}
.course h1,h2 {
  padding-left: 16px;
}


/*thesis*/
.thesis-container {
  display: flex;
  margin-left: 24px;

}
.left-column {
  width: 60%;
}


.left-column video {
  max-width: 95%;
}


.left-column p {
  max-width: 95%;
}

.right-column {
  display: flex;
  width: 50%;
  flex-direction: column;

}

.fisma {
  display: flex;
  padding: 16px;
  background-color: lightgray;
  align-items: center;
}

.right-column img {
  margin: 16px;
}

.fisma-txt {
  padding-left: 16px;

}

.newyork {
  display: flex;
  padding: 16px;
  align-items: center;
}

.newyork-txt {
  padding-left: 16px;

}

/* footer */
.footer-container {
  display: flex;
  margin: 16px 24px;
  justify-content: space-between;
}

.terms span {
padding-left: 15px;
}
